/* Gilmer fonts */
@font-face {
  font-family: Gilmer;
  src: url(Gilmer-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: Gilmer;
  src: url(Gilmer-Bold.otf);
  font-weight: bold;
}

/* set common styles */
* {
  font-family: Gilmer, Sans-serif;
  border-style: none;
  margin: 0px;
}
img {
  border-style: none;
  margin: 0px;
  padding: 0px;
}
li {
  font-size: 18px;
  list-style-type: none;
  padding-bottom: 16px;
}
p {
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 8px;
}

/* Create two or three equal columns that float next to each other */
.col2 {
  float: left;
  /*padding-bottom: 16px;*/
  width: 50%;
}
.col2a {
  float: left;
  text-align: center;
  width: 35%;
}
.col2b {
  float: left;
  width: 65%;
}
.col3 {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
/*.row {
  padding-bottom: 16px;
  padding-top: 24px;
}*/
.row:after {
  clear: both;
  content: "";
  display: table;
}

/* Responsive layout:
   makes the three columns stack on top of each other
   instead of next to each other on smaller screens
   (640px wide or less) */
@media screen and (max-width: 640px) {
  .col2, .col2a, .col2b {
    /*padding-bottom: 16px;*/
   width: 100%;
  }
  .col3 {
    /*padding-bottom: 16px;*/
    width: 100%;  
  }
}

/* style header and top navigation container of website */
header.website {
  border-width: 0px;
  color: #320064;
  margin: 0px;
  padding-bottom: 48px;
  padding-top: 48px;
  text-align: center;
}

/* style welcome page with polar light background */
.welcome {
  background-image: url('img/wd_polarlight.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-width: 0px;
  color: #ffffff;
  padding-bottom: 16px;
  padding-right: 16px;
  padding-top: 256px;
  text-align: right;
}
/*button {
  background-color: #ffffff;
  border-style: outset;
  color: #320064;
  font-size: 20px;
  padding: 4px;
}*/

/* style header and top navigation container of menu */
.menu {
  background-color: #320064;
  border-width: 0px;
  color: #ffffff;
  line-height: 48px;
  padding: 32px;
  text-align: center;
  /*max-width: 1280px;*/
}
nav.menu {
  font-size: 24px;
  padding-bottom: 192px;
  padding-top: 64px;
}

.picto {
  background-color: #320064;
  /*border-style: none;*/
  color: #ffffff;
  font-size: 32px;
  margin: 0px;
  padding: 128px 0px 0px 0px;
}

/* style main content */
.main {
  color: #320064;
  margin: auto;
  max-width: 1280px;
  padding: 24px;
  text-align: center;
}
.maintext {
  text-align: left;
}
.chapter {
  color: #320064;
  margin: auto;
  max-width: 1280px;
  padding: 64px 32px 32px 32px;
  text-align: center;
}
.chaptertext {
  border-width: 0px;
  padding-right: 16px;
  text-align: left;
}

/* style the tiles in main content */
.tile {
    background-color: #efffdf;
    border-color: #f7f7f7;
    border-style: solid;
    border-width: 4px;
    color: #320064;
    display: inline-table;
    height: 320px;
    margin: 16px;
    text-align: center;
    width: 256px;
}
.tile:hover {
    border-color: #320064;
    border-style: solid;
    border-width: 4px;
}

/* style the footer */
footer {
  background-color: #320064;
  /*border-bottom-style: none;*/
  color: #ffffff;
  padding-bottom: 256px;
  padding-top: 48px;
}
div.footertext {
  text-align: center;
}


/* end of wd_style.css */
